<div class="parent-container">
  <div class="child-container">
    <div class="box">
      <div class="content">
        <img src="../../assets/flaticon/001-safety-glasses.png" alt="" />
        <p>
          If caring for someone who may be infected by the virus, consider
          wearing safety goggles, as wearing glasses will not provide adequate
          barrier protection, with the sides, tops and bottoms of the area
          around your eyes still exposed.
        </p>
      </div>
    </div>
    <div class="box">
      <div class="content">
        <img src="../../assets/flaticon/002-alcohol.png" alt="" />
        <p>
          If soap and water are not available, CDC recommends consumers use an
          alcohol-based hand sanitizer that contains at least 60% alcohol.
        </p>
      </div>
    </div>
    <div class="box">
      <div class="content">
        <img src="../../assets/flaticon/003-face-mask.png" alt="" />
        <p>
          Wear face shield if needed. They cover your eyes in addition to your
          mouth and nose; they also cover your face so stop the prospect of a
          respiratory droplet landing on your face which is then (for want of a
          better word) smeared into contact with a mucous membrane.
        </p>
      </div>
    </div>
    <div class="box">
      <div class="content">
        <img src="../../assets/flaticon/004-disinfection.png" alt="" />
        <p>
          The best way to prevent the spread of infections and decrease the risk
          of getting sick is by washing your hands with plain soap and water,
          advises the Centers for Disease Control and Prevention (CDC).
        </p>
      </div>
    </div>
    <div class="box">
      <div class="content">
        <img src="../../assets/flaticon/005-face-mask-1.png" alt="" />
        <p>
          Face masks should be worn in public settings where social distancing
          measures are difficult to maintain, such as in grocery stores,
          especially in areas of significant community-based transmission.
        </p>
      </div>
    </div>
    <div class="box">
      <div class="content">
        <img src="../../assets/flaticon/006-supplement.png" alt="" />
        <p>
          Always take vitamins to boost your immune system.
        </p>
      </div>
    </div>
    <div class="box">
      <div class="content">
        <img src="../../assets/flaticon/007-consultation.png" alt="" />
        <p>
          DOH is providing free telemedicine consultations for patients who need
          COVID-19 medical advice or other non-COVID-19 primary care
          consultations.
        </p>
      </div>
    </div>
  </div>
</div>
