<div class="text-center">
  <h2>
    <span><a routerLink="/">JAI</a></span>
    <span><a routerLink="/">ONG</a></span>
    <span><a routerLink="/">JAI</a></span>
    <span><a routerLink="/">ONG</a></span>
  </h2>
</div>
<div class="fontawe">
  <ul>
    <li>
      <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href=""><i class="fa fa-envelope" aria-hidden="true"></i></a>
    </li>
  </ul>
</div>
<div class="navitems">
  <ul class="nav justify-content-center">
    <li>
      <a class="nav-link" routerLink="/work" routerLinkActive="active" actove
        >WORK</a
      >
    </li>
    <li>
      <a class="nav-link active" routerLink="/about" routerLinkActive="active"
        >ABOUT</a
      >
    </li>
    <li>
      <a class="nav-link" routerLink="/contact" routerLinkActive="active"
        >CONTACT</a
      >
    </li>
  </ul>
</div>
<div class="container-fluid">
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="about-img">
            <img class="shape" src="../../assets/about_tringle.png" alt="" />

            <img class="man" src="../../assets/ME.png" alt="" />
          </div>
        </div>
        <br />
        <div class="col-md-6 about-right">
          <h2 class="color-3"><b>WHO AM I?</b></h2>

          <p class="p-first text-white">
            I’m Jireh Puno, a front-end web developer based in Bamban, Tarlac.
            I’m into all things web and mobile. I’ve spent the last 4 years in
            TSU, during which time I learned the basics of web development.
          </p>
          <p class="p-first text-white">
            I’m constantly learning web technologies and other design related
            topics, currently playing around with Angular.
          </p>

          <p class="text-white">
            For development, I write HTML and CSS. I use SASS - a CSS extension.
            For those interested, the text editor I use is Visual Studio Code, I
            use it along side Nodejs to build sites locally. These are the basic
            tools I use on my daily set up.
          </p>
          <h3 class="color-3 social-link-text">
            <button class="btn btn-danger">
              <a routerLink="/contact">Contact</a>
            </button>
          </h3>
        </div>
      </div>
    </div>
  </section>
</div>
