<div class="text-center">
  <h2>
    <span><a routerLink="/">JAI</a></span>
    <span><a routerLink="/">ONG</a></span>
    <span><a routerLink="/">JAI</a></span>
    <span><a routerLink="/">ONG</a></span>
  </h2>
</div>
<div class="fontawe">
  <ul>
    <li>
      <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href=""><i class="fa fa-envelope" aria-hidden="true"></i></a>
    </li>
  </ul>
</div>
<div class="navitems">
  <ul class="nav justify-content-center">
    <li>
      <a class="nav-link active" routerLink="/work" routerLinkActive="active"
        >WORK</a
      >
    </li>
    <li>
      <a class="nav-link" routerLink="/about" routerLinkActive="active"
        >ABOUT</a
      >
    </li>
    <li>
      <a class="nav-link" routerLink="/contact" routerLinkActive="active"
        >CONTACT</a
      >
    </li>
  </ul>
</div>

<div class="container-fluid">
  <div class="child-container">
    <div class="card">
      <div class="imgBox">
        <img
          src="../../assets/Card/work1.jpg"
          alt=""
          length="400"
          width="400"
        />
      </div>
      <div class="content">
        <h2><a routerLink="/work1">Animation Effect</a></h2>
        <p>
          A simple hover animation effect using keyframes.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="imgBox">
        <img
          src="../../assets/Card/work2.jpg"
          alt=""
          length="400"
          width="400"
        />
      </div>
      <div class="content">
        <h2><a routerLink="/work2">Clip-Mask</a></h2>
        <p>
          Parallax background effect.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="imgBox">
        <img
          src="../../assets/Card/work3.jpg"
          alt=""
          length="400"
          width="400"
        />
      </div>
      <div class="content">
        <h2><a routerLink="/work3">Neumorphism</a></h2>
        <p>
          A visual style that blends techniques from skeuomorphism, realism, and
          flat design.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="imgBox">
        <img
          src="../../assets/Card/work4.jpg"
          alt=""
          length="400"
          width="400"
        />
      </div>
      <div class="content">
        <h2><a routerLink="/work4">Video Text</a></h2>
        <p>
          A text that has a video inside.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="imgBox">
        <img
          src="../../assets/Card/work5.jpg"
          alt=""
          length="400"
          width="400"
        />
      </div>
      <div class="content">
        <h2><a routerLink="/work5">Grid System</a></h2>
        <p>
          A simple responsive grid layout.
        </p>
      </div>
    </div>
  </div>
</div>
