<div class="parent-container">
  <div class="text-center">
    <h2>
      <span><a routerLink="/">JAI</a></span>
      <span><a routerLink="/">ONG</a></span>
      <span><a routerLink="/">JAI</a></span>
      <span><a routerLink="/">ONG</a></span>
    </h2>
  </div>
  <div class="fontawe">
    <ul>
      <li>
        <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href=""><i class="fa fa-envelope" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
  <div class="navitems">
    <ul class="nav justify-content-center">
      <li>
        <a class="nav-link" routerLink="/work" routerLinkActive="active"
          >WORK</a
        >
      </li>
      <li>
        <a class="nav-link" routerLink="/about" routerLinkActive="active"
          >ABOUT</a
        >
      </li>
      <li>
        <a class="nav-link" routerLink="/contact" routerLinkActive="active"
          >CONTACT</a
        >
      </li>
    </ul>
  </div>
  <div class="container-fluid">
    <div class="text-center">
      <div class="box-item" data="KEEPING IT SIMPLE">
        HI - I'M JIREH
      </div>

      <p class="line anim-typewriter">I'm a Front-End Developer</p>
    </div>
  </div>
</div>
